.paper {
    display: grid;
    padding: 4.5rem;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 20vh;
    grid-template-areas:
    "head head head head"
    "aside main main main"
    "aside main main main"
    "foot foot foot foot"   
}

.paper p {
    margin: 1.5rem 0;
}

.cv-head {
    grid-area: head;
}

.cv-aside {
    margin-top: 2rem;
    grid-area: aside;
}

.cv-main {
    margin-top: 2rem;
    grid-area: main;
}

.cv-main > .mt-0 {
    margin-top: 0;
}

.cv-foot {
    grid-area: foot;
}

@media screen and (max-width: 600px) {
    .paper {
        padding: 2.5rem;
        grid-template-areas:
        "head head head head"
        "main main main main"
        "aside aside aside aside"
        "foot foot foot foot"  
    }
}